@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
}

/* Transitions */

.transition-0 {
  transition: all 0;
}
.transition-20ms {
  transition: all 0.02s;
}
.transition-50ms {
  transition: all 0.05s;
}
.transition-100ms {
  transition: all 0.1s;
}
.transition-200ms {
  transition: all 0.2s;
}
.transition-300ms {
  transition: all 0.3s;
}

/* Headings */

.heading {
  @apply .font-bold .text-2xl .leading-tight .uppercase;
}

@media (min-width: 768px) {
  .heading {
    @apply .text-4xl;
  }
}

/* Header */

.header-navigation__item {
  @apply .text-white .transition-200ms;
}

.header-navigation__dark > .header-navigation__item {
  @apply .text-gray-900;
}

.header-navigation__item:not(:last-child) {
  @apply .mr-6;
}

.header-navigation__item:hover {
  @apply .text-primary-500;
}

/* Language selector */

.language-selector__item {
  @apply .text-white .p-2;
}

.language-selector__dark > .language-selector__item {
  @apply .text-gray-900;
}

.language-selector__item.selected {
  @apply .border-2 .border-primary-500 .rounded-full .text-primary-500;
}

/* Achievments */

.achievments {
  display: grid;
  column-gap: 0.75rem;
  row-gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .achievments {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Brands pack */

.brands-pack {
  display: grid;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  grid-template-columns: 1fr;
}

/* Cases */

.case {
  width: 17.5rem;
}

.case:not(:last-child) {
  @apply .mr-6;
}

.case-details {
  @apply .opacity-0 .invisible .transition-100ms .flex .flex-col .justify-between .absolute .w-full .h-full .top-0 .left-0 .p-6 .bg-white .rounded;
}

.case:hover {
  @apply .shadow-lg;
}

.case:hover .case-details {
  @apply .opacity-100 .visible;
}

/* Form elements */

.input {
  @apply .tracking-wide .py-2 .border-2 .text-gray-500 .rounded .pl-3;
}

.input:focus {
  outline: none;

  @apply .border-primary-700 .text-gray-900;
}

.textarea {
  @apply .tracking-wide .py-2 .border-2 .text-gray-500 .rounded .pl-3;
}

.textarea:focus {
  outline: none;

  @apply .border-primary-700 .text-gray-900;
}

/* Buttons */

.btn-orange-filled {
  @apply .uppercase .font-bold .text-center .text-white .tracking-wide .py-2 .px-6 .bg-primary-500 .rounded .transition-300ms;
}

.btn-orange-filled:hover {
  @apply .bg-primary-700;
}

/* Flickity */

.flickity-prev-next-button {
  top: unset;
  width: 78px;
  height: 38px;
  border: 3px solid #f9b000;

  @apply .bottom-0 .rounded .text-sm .font-bold .text-primary-500 .transition-300ms z-10;
}

.flickity-button:focus {
  outline: unset;

  @apply .shadow-none;
}

.flickity-prev-next-button:hover {
  @apply .bg-primary-500 .text-white;
}

.flickity-prev-next-button.next {
  @apply .right-0;
}

.flickity-prev-next-button.previous {
  @apply .left-0;
}

.flickity-prev-next-button .flickity-button-icon {
  @apply .hidden;
}

.flickity-prev-next-button:before {
  @apply .flex .items-center .justify-center .h-full;
}

.flickity-prev-next-button.next:before {
  content: "Вперед";
}

.flickity-prev-next-button.previous:before {
  content: "Назад";
}

.flickity-page-dots {
  @apply .flex .items-center .justify-center .bottom-0;
}

@media (min-width: 768px) {
  .flickity-page-dots {
    bottom: 1.5rem;
  }
}

.flickity-page-dots .dot {
  width: 6px;
  height: 6px;

  @apply .opacity-100 .bg-gray-700;
}

.flickity-page-dots .dot.is-selected {
  width: 10px;
  height: 10px;

  @apply .bg-primary-500;
}
