@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
}

/* Transitions */

.transition-0 { transition: all 0 }
.transition-20ms { transition: all .02s }
.transition-50ms { transition: all .05s }
.transition-100ms { transition: all .1s }
.transition-200ms { transition: all .2s }
.transition-300ms { transition: all .3s }

/* Headings */

.heading {
  @apply .font-bold .text-2xl .leading-tight .uppercase;
}

@media (min-width: 768px) {
  .heading {
    @apply .text-4xl
  }
}

/* Header */

.header-navigation__item {
  @apply .text-white .transition-200ms;
}

.header-navigation__dark > .header-navigation__item {
  @apply .text-gray-900;
}

.header-navigation__item:not(:last-child) {
  @apply .mr-6;
}

.header-navigation__item:hover {
  @apply .text-primary-500;
}

/* Language selector */

.language-selector__item {
  @apply .text-white .p-2;
}

.language-selector__dark > .language-selector__item {
  @apply .text-gray-900;
}

.language-selector__item.selected {
  @apply .border-2 .border-primary-500 .rounded-full .text-primary-500;
}

/* Achievments */

.achievments {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: .75rem;
  row-gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .achievments {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Form elements */

.input {
  @apply .tracking-wide .py-2 .border-2 .text-gray-500 .rounded .pl-3;
}

.input:focus {
  outline: none;

  @apply .border-primary-700 .text-gray-900;
}

.textarea {
  @apply .tracking-wide .py-2 .border-2 .text-gray-500 .rounded .pl-3;
}

.textarea:focus {
  outline: none;

  @apply .border-primary-700 .text-gray-900;
}

/* Buttons */

.btn-orange-filled {
  @apply .uppercase .font-bold .text-white .tracking-wide .py-2 .px-6 .bg-primary-500 .rounded .transition-300ms;
}

@media (min-width: 768px) {
  .btn-orange-filled {
    @apply .px-24;
  }
}

.btn-orange-filled:hover {
  @apply .bg-primary-700;
}
