@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
}

/* Transitions */

.transition-0 { transition: all 0 }
.transition-20ms { transition: all .02s }
.transition-50ms { transition: all .05s }
.transition-100ms { transition: all .1s }
.transition-200ms { transition: all .2s }
.transition-300ms { transition: all .3s }

/* Header navigation */

.header-navigation__item {
  @apply .text-white .transition-200ms;
}

.header-navigation__item:not(:last-child) {
  @apply .mr-6;
}

.header-navigation__item:hover {
  @apply .text-orange-500;
}

/* Language selector */

.language-selector__item {
  @apply .text-white .p-2;
}

.language-selector__item.selected {
  @apply .border .border-orange-500 .rounded-full .text-orange-500;
}

/* Grid 4 */

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: .75rem;
  row-gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Inputs */

.input {
  @apply .tracking-wide .py-2 .border-2 .text-gray-500 .rounded .pl-3;
}

.input:focus {
  @apply .border-orange-400 .text-gray-900;
}

/* Buttons */

.btn-orange-filled {
  @apply .uppercase .font-bold .text-white .tracking-wide .py-2 .px-24 .bg-orange-400 .rounded;
}
